.input {
  position: relative;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

.input__label {
  position: relative;
  display: block;
  width: 100%;
}

.input__element {
  border: none;
  border-bottom: 1px solid var(--link-color);
  padding: 7px 0;
  font-weight: var(--font-weigth-medium);
  font-size: 13px;
  line-height: 13px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.input__element_type-search {
  background-color: var(--avatar-light-bg-color);
  border-bottom: none;
  padding: 6px 34px;
  height: 32px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 5px;
}

.input__placeholder_type-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  font-weight: var(--font-weigth-medium);
  font-size: 12px;
  line-height: 12px;
  color: var(--text-secondary-color);
  transition: opacity 0.2s ease;
  opacity: 1;
}

.input__search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -50%);
  transition: left 0.2s ease, transform 0.2s ease;
}

.input__element_type-search:focus + .input__placeholder_type-search {
  opacity: 0;
}

.input__element_type-search:focus
  + .input__placeholder_type-search
  + .input__search-icon {
  left: 10px;
  transform: translate(0, -50%);
}

.input__placeholder_type-file {
  display: inherit;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  font-weight: var(--font-weigth-medium);
  font-size: 12px;
  line-height: 16px;
  color: var(--link-color);
  width: 122px;
  margin: auto;
}

.input__element_type-file {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input__placeholder {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  font-weight: var(--font-weigth-medium);
  font-size: 13px;
  line-height: 13px;
  color: var(--text-secondary-color);
}

.input__element:focus {
  outline: none;
}

.input__element:focus + .input__placeholder,
.input__element:not(:placeholder-shown) + .input__placeholder {
  transform: scale(1) translateY(-100%) translateX(0);
  top: 0;
  font-weight: var(--font-weigth-medium);
  font-size: 9px;
  line-height: 9px;
}

.input__element_is-invalid {
  color: var(--error-color);
}

.input__error-text {
  color: var(--error-color);
  font-weight: var(--font-weigth-regular);
  font-size: 8px;
  line-height: 8px;
  margin: 0;
  padding-top: 7px;
}
