.button {
  border: none;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.button_text {
  width: 280px;
  height: 37px;
  border-radius: 8px;
  font-weight: var(--font-weigth-medium);
  font-size: 13px;
  line-height: 13px;
}

.button_image {
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.button_btnWithChildren {
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.button_inactive {
  background-color: var(--secondary-dark-bg-color);
  color: var(--text-primary-color);
  opacity: 0.6;
}

.button_active {
  background-color: var(--link-color);
  color: var(--text-light-color);
}
