{{#> RawItemWrap }}
    <p class="user-info-item__part user-info-item__part_key">{{userInfoItemKey}}</p>
    <p class="user-info-item__part user-info-item__part_value">{{userInfoItemValue}}</p>
{{/RawItemWrap }}