.user-info-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--secondary-dark-bg-color);
}

.user-info-item:last-child {
  border-bottom: none;
}

.user-info-item__part {
  font-size: 13px;
  line-height: 13px;
  font-weight: var(--font-weigth-medium);
  margin: 10px 0;
}

.user-info-item__part_name {
  color: var(--text-primary-color);
}

.user-info-item__part_value {
  color: var(--text-secondary-color);
}
