{{#> FormWrap id="sign-in-form" name="sign-in-form" titleSize="size-l" titleText="Вход" }}
    <div class="sign-in-form__elements">
        <div class="sign-in-form__inputs-wrap">
            {{> Input name="login" 
                id="login" 
                type="text" 
                value=""
                required="true"
                placeholder="Логин"
            }}
            {{> Input name="password" 
                id="password" 
                type="password" 
                value=""
                required="true"
                placeholder="Пароль"
            }}
        </div>
        <div class="sign-in-form__btns-wrap">
            {{> Button styleType="active" 
                type="submit" 
                text="Авторизоваться" 
            }}
            {{> Link size="small" text="Нет аккаунта?" }}
        </div>
        
    </div>
{{/FormWrap }}
