<nav>
  <ul class="list">
    <li><a href="#" page="signInPage">SignInPage</a></li>
    <li><a href="#" page="signUpPage">SignUpPage</a></li>
    <li><a href="#" page="addUserModal">AddUserModal</a></li>
    <li><a href="#" page="deleteUserModal">DeleteUserModal</a></li>
    <li><a href="#" page="fileUploadModal">FileUploadModal</a></li>
    <li><a
        href="#"
        page="internalServerErrorPage"
      >InternalServerErrorPage</a></li>
    <li><a href="#" page="badRequestPage">BadRequestPage</a></li>
    <li><a href="#" page="profilePage">ProfilePage</a></li>
    <li><a href="#" page="changePasswordPage">ChangePasswordPage</a></li>
    <li><a href="#" page="changeUserInfoPage">ChangeUserInfoPage</a></li>
    <li><a href="#" page="chatPage">ChatPage</a></li>
  </ul>
</nav>
