.user-info-item-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--secondary-dark-bg-color);
}

.user-info-item-wrap:last-child {
  border-bottom: none;
}
