{{> BackButton }}
<div class="profile">
    <div class="profile__avatar-wrap">
        {{> Avatar avatarIcon=userProfileInfoData.avatar }}
        {{> Title text=userProfileInfoData.first_name size="size-m" }}
    </div>
    <div class="profile__info-raws-wrap">
        {{> UserInfo userInfo=userProfileInfoNames userData=userProfileInfoData }}
        {{> UserInfoButtons }}
    </div>
</div>
