{{#>FormWrap id="change-user-info-form" name="change-user-info-form" titleSize="size-l" titleText="Изменить данные" }}
    <div class="change-user-info-form__elements">
        <div class="change-user-info-form__inputs-wrap">
            {{> Input name="email" 
                id="email" 
                type="text" 
                value=""
                required="true"
                placeholder="Почта"
            }}
            {{> Input name="login" 
                id="login" 
                type="text" 
                value=""
                required="true"
                placeholder="Логин"
            }}
            {{> Input name="first_name" 
                id="first_name" 
                type="text" 
                value=""
                required="true"
                placeholder="Имя"
            }}
            {{> Input name="second_name" 
                id="second_name" 
                type="text" 
                value=""
                required="true"
                placeholder="Фамилия"
            }}
            {{> Input name="display_name" 
                id="display_name" 
                type="text" 
                value=""
                required="true"
                placeholder="Имя в чате"
            }}
            {{> Input name="phone" 
                id="phone" 
                type="tel" 
                value=""
                required="true"
                placeholder="Телефон"
            }}
        </div>
        {{> Button styleType="active" 
            type="submit" 
            text="Изменить" 
        }}
    </div>
{{/FormWrap }}
