.change-user-info-form__elements {
  display: flex;
  flex-direction: column;
  gap: 62px;
  margin-top: 50px;
}

.change-user-info-form__inputs-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
