.message-block {
  display: grid;
  grid-template-rows: 54px 1fr 54px;
  grid-template-columns: 1fr;
  width: 96%;
  height: 100%;
  position: relative;
  margin: auto;
}

.message-block__head {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid var(--secondary-dark-bg-color);
  display: flex;
  justify-content: space-between;
  padding-right: 11px;
}

.message-block__img-name-wrap {
  display: flex;
  align-items: center;
}

.message-block__img-wrap {
  width: 34px;
  height: 34px;
  background-color: var(--avatar-light-bg-color);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}

.message-block__img {
  position: absolute;
  z-index: 2;
  width: 34px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.message-block__bold-text {
  font-size: 13px;
  line-height: 13px;
  font-weight: var(--font-weigth-bold);
  color: var(--text-primary-color);
}

.message-block__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

.message-block__content {
  display: grid;
  grid-template-rows: 1fr;
}

.message-block__interaction {
  width: 100%;
  height: 54px;
  border-top: 1px solid var(--secondary-dark-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
