{{#>FormWrap id="change-password-form" name="change-password-form" titleSize="size-l" titleText="Изменить пароль" }}
    <div class="change-password-form__elements">
        <div class="change-password-form__inputs-wrap">
            {{> Input name="oldPassword" 
                id="oldPassword" 
                type="password" 
                value=""
                required="true"
                placeholder="Старый пароль"
            }}
            {{> Input name="newPassword" 
                id="newPassword" 
                type="password" 
                value=""
                required="true"
                placeholder="Новый пароль"
            }}
            {{> Input name="confirmation_password" 
                id="confirmation-password-in-change"
                type="password" 
                value=""
                required="true"
                placeholder="Повторите новый пароль"
            }}
        </div>
        {{> Button styleType="active" 
            type="submit" 
            text="Изменить"
            id="change-password_submit-btn"
        }}
    </div>
{{/FormWrap }}
