<form class="change-profile-data">
    {{> Avatar avatarIcon=avatarIcon }}
    <div class="change-profile-data__info-wrap">
        {{> @partial-block }}
    </div>
    {{> Button type="submit" text="Сохранить" styleType="active" }}
</form>
