<div class="changed-profile-data">
    {{> Avatar defaultAvatarIcon=defaultAvatarIcon }}
    <div class="changed-profile-data__info-wrap">
        {{> @partial-block }}
    </div>
    {{> Button type="submit" text="Сохранить" styleType="active" }}
</div>
