.chat-page {
  display: flex;
}

.chat-page__input-wrap {
  padding: 0 10px;
  margin: 23px 0 14px;
}

.chat-page__profile-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  border: none;
  background: inherit;
  padding: 0 10px 0 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: var(--font-weigth-medium);
  color: var(--text-secondary-color);
}

.chat-page__message-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75.7%;
}

.chat-page__message-block-text {
  font-size: 12px;
  line-height: 12px;
  font-weight: var(--font-weigth-medium);
  color: var(--text-secondary-color);
}
