<div class="wrap">
    {{> Title size="size-xl" text=titleText }}
    <div class="subtitleWrap">
        {{> Title tag="h2" size="size-l" text=subtitleText }}
    </div>
    {{> Link size="small" text=linkText }}
</div>
