.error-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-component__subtitleWrap {
  margin: 20px 0 69px;
}
