<form class="form-wrap form-wrap_{{titleSize}}" id={{formName}} name={{formName}} onsubmit={{onSubmit}}>
    <fieldset class="form-wrap__wrap">
        {{> Title size=titleSize text=titleText type=titleType }}
        {{> @partial-block }}
    </fieldset>
</form>
